

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* for hindi */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #FFF5EE;
}

/* STYLE FOR FEEDBACK SECTION  */
.feedback{
    position: absolute;
    bottom: 50;
}

/* .feedback-container {
    width: 70%;
    margin: 0 auto;
  }
  
  .feedback-section {
    margin-bottom: 20px;
  }
  
  .feedback-section h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .feedback-section p {
    font-size: 16px;
    margin: 0;
  } */
  

  .feedback-container{
    width: 800px;
    display: flex;
    flex-basis: auto;
    position: relative;
    border: 4px dashed #ccc;
    margin: 20px;
    background-color: whitesmoke;
    gap: 100px;
  }

  .feedback-container div{
    padding: 10px;
   
  }

  .feedback-section {
   padding: 0px 20px;
  }

  .feedbackusername{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px 40px;
    background-color: yellow;
  }
  


  


/* STYLE FOR WELCOME SECTION */
nav{
    background-color: gold;
  border-radius: 90px;
    padding: 10px;
    margin: auto;
    width: 80%;
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    margin-top: 20px;
  /* margin-top: 20px;
  margin-bottom: 20px; */
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
}
.nav-links ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
   

}
.nav-links ul li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
    transition: 0.3s;
    padding: 10px;


}

.hero{

    height: 580px;
    width: 100%;
    max-width: 1200px;
    margin-top: 50px;
    position: relative;
    /* background-color: #62EEA8; */
    /* border: 5px dashed rgba(128, 128, 128, 0.441); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all  .5s;
    
}
/* .hero:hover{
    width: 1100px;
    
    background-color: #ccc;
} */

#forsceenshot{
    background-color: #fff5ee
}
.screenshot1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.screenshot1 img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    /* border: 2px solid black; */
}
.screenshot1 button{
    margin-top: 150px;
    padding: 10px 20px;
    background-color: gold;
    border: 7px solid #2d3233;
    border-radius: 90px;
    color: #2d3233;
    font-size: 4rem;
 font-weight: bolder;
    cursor: pointer;
    font-family: "Questrial", sans-serif;
 
    
}
.welcomeabout{
    margin: 150px 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
    background-color: #2d3233; 
  gap: 10px; 
  border-radius: 10px;
  /* padding: 50px 0px; */
    
}
.welcomeabout h1{
    font-size: 3rem;
    font-family: "Questrial", sans-serif;
    color: gold;
    font-weight: bolder;
    text-align: center;
}
.welcomeabout img{
    border-radius: 10px;
    width: 500px;
}

.welcomeabout p {
    font-size: 1.3rem;
    padding: 40px;
    font-family: "Quicksand", sans-serif;
    background-color: gold;
    border-radius: 10px;
    font-weight: 500
    ;

}



.hero:hover img{
    margin: 50px;
    height: 150px;
}
 .hero h1{
   
    font-size: 6rem;
    font-family: "Playfair Display", serif; 
}

.hero p {
    font-family: "Tiro Devanagari Hindi", serif;
    padding: 20px 40px;
    font-size: 3rem;
    background-color: gold;
}
.hero img{
    position: absolute;
    height: 140px;
    width: auto;
    z-index: 1;
    border: 4px solid black;
    border-radius: 10px;
    transition: all .5s;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

#img1{
    top: 0;
    left: 0;
}

#img2{
    top: 0;
    right: 0;
}

#img3{
    bottom: 0;
    left: 0;
}

#img4{
    bottom: 0;
    right: 0;
}

.hero button{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: gold;
    border: 5px solid black;
    border-radius: 90px;
    font-size: 2rem;
 font-weight: bolder;
    cursor: pointer;
 
    font-family: "Playfair Display", serif; 


}

.hero button a{
    text-decoration: none;
    
}
#herobtn{
    transition: width 1s;
}

.hero button:hover {
    
    width: 500px;
}
/* STYLE FOR WELCOME SECTION END */

header{
    background-color: #FF9F9F;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
    font-family: "Quicksand", sans-serif;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.main{
    width: 100%;
    /* margin-top: 50px; */
    font-family: "Quicksand", sans-serif;
}

/* STYLE FOR THE FEATURE SECTION OF WELCOME PAGE */
.container{
    /* background-color: aliceblue; */
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

section{
    width: 80%;
    margin: 150px auto;
    background-color: palegoldenrod;
}
.quebeforefeatures{
    margin:    200px 0px 50px 0px; ;
    display: block;
    text-align: center;
    font-size: 2rem;
}

.features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    background-color: #fff4e2;
    flex-basis: auto;
    padding: 50px 20px;
}

.featuresbox{
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    transition: all 0.3s;
    font-family: "Questrial", sans-serif;
    gap: 10px;
    border: 4px solid black;
}

.featuresbox h1{
    margin: 0;
   font-size: 4rem;
}
.featuresbox h2{
    font-size: 2rem;
}
.featuresbox p{
    font-size: 1rem;
}
.featuresbox:hover{
    background-color: #f9f9f9;
    cursor: pointer;
    outline: 1px solid black;
}
.col2{
    flex-basis: 60%;
    position: relative;
}
.col1, .col3{
    flex-basis: 20%;
}

/* 1st col start */
.page{

}
.box{
    padding:30px ;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    transition: all 0.3s;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */

    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */

    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px; */

    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

#boxlink{
    text-decoration: none;
    color: black;
    font-weight: 700;

}


.box:hover{
    background-color: white;
    cursor: pointer;
    outline: 1px solid black;

}
/* 1st col End */



/* 2nd col start */
.task
{
    background-color: white;
    height: 600px;
    border-radius: 10px;
    padding: 20px;
    margin: 0px 15px;
    flex-basis: 60%;
    position: relative;
    overflow: overlay;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.task h2{
    text-align: center;
    margin-bottom: 20px;
}
.task ul{
    list-style: none;
    padding: 0;
    margin: 10px;
}
.task ul li {
    margin: 15px 0px;
}

.task ul li a {
    
    color: black;
    font-size: 1.2rem;

    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    transition: 0.3s;

}

#donebutton{
    background-color: #62EEA8;
    color: white;
}
#deletebutton{
    background-color: #FF9F9F;
    color: white;

}

/* 2nd col end */



/* 3rd col start */

.col3{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.time{
    height: 130px;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
   
    
}
.time h2, h5{
    margin: 10px 0px;
}
.bookmarks{
    height: 340px;
   position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: overlay;
    
    
    padding: 15px;
  text-align: center;
    background-color: white;
    border-radius: 10px;

    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  
}

#styleforbookmarlink{

    margin: 0px 5px;
    float: left;
    width: 100%;
    display: block;
    background-color: #0C0C0C;
    padding: 10px 15px;
    font-style: italic;
    color: #ccc;
    border-radius: 90px;
    z-index: 99;
    transition: all 0.3s;

}



.makebookmarflex{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -5px 0px;

}

#deletebookmarlink{
    background-color: crimson;
    color: aliceblue;
    /* transform: translate(-40px, 0px);; */
  padding: 10px;
  border-radius: 90px;
  
    
}

.extra{
    height: 150px;

}
/* 3rd col end */


form{
    /* max-width: 500px; */
    font-family: "Quicksand", sans-serif;
    /* font-size: 3rem; */


}

form fieldset{
    font-weight: bold;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    padding-left: 20px;
    font-size: 1.2rem;
    font-family: "Quicksand", sans-serif;


}
form button{
    width: 100%;
    padding: 10px;
    
}
form input{
    width: 100%;
    padding: 10px;
 background-color: transparent;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    font-family: "Quicksand", sans-serif;
}
select, option{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    font-family: "Quicksand", sans-serif;

}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF5EE;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    
    font-size: 1.2rem;
border-radius: 10px;
    height: auto;
}

.popup input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;

}
.popup h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;

}

/* style for plus button */

#add{
    font-size: 2rem;
    position: absolute;
    bottom: 20;
    right: 30;
    border-radius: 90%;
    background-color: white;
    outline: none;
    color: black;
    border: 1px solid #ccc;
    height:70px;
    width: 70px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#add:hover{
    background-color: #f9f9f9;
    cursor: pointer;
}



/* style for cancle icon button */

#cancleicon{
    font-size: 2rem;
    position: absolute;
    top: 15;
    right: 15;
    border-radius: 90%;
    height: 30px;
    width: 30px;
    font-size: 1rem;
    outline: none;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #FF9F9F; */
}

/* this is style for the add button on the popup */

#addbutton{
    width: 100px;
    font-size: 1rem;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

/* STYLE FOR HEALTH SECTION */

.healthsection{
    display: flex;
    /* justify-content: space-around; */
    margin-top: 20px;
    flex-wrap: wrap;
    height: 500px;
    overflow:overlay;

}
.shortbox{
    position: relative;
    padding: 10px;
    background-color: white;

    border-radius: 10px;
    border: 3px dashed #ccc;

    width: 200px;
    height: 200px;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

textarea{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  
    margin-bottom: 10px;
}

.buttons{
    position: absolute;
    bottom: 10;
    right: 10;
    border: 0;
    outline: none;
   
    
}

.buttons i {
  
    margin: 0px 5px;
    cursor: pointer;
    color: black;
    background-color: transparent;
}
/* THIS IS FOR THE HEALTH SECTION  */

.financesection{
 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
   
    flex-wrap: wrap;
    /* background-color: yellow; */
}


/* this style was for thar bars */
.topbars{
    padding: 15px 50px 10px 50px;
    float: left;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    width: auto;
    border: 2px solid #ccc;
}

/* THIS IS FOR THE STYLE OF THE JOURNAL */
.journalsection{

    display: flex;
    /* justify-content: space-around; */
    margin-top: 20px;
    flex-wrap: wrap;
    
}

.notes{
    margin: 15px 0px;
    position: relative;
    padding: 20px 40px;

    width: 100%;
    display: flex;
    /* border-radius: 15px; */
    background-color:beige;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    font-family: "Questrial", sans-serif;
}
.ienumber{
    background-color: white;
    text-align: center;
    height: 100px;
    width: 200px;
    font-size: 1.5rem;
    margin-right: 10px;
    border-right: 5px dashed #ccc;
}


.ienote{
    padding: 20px;
    font-size: 1.2rem;


}
.ienote p{
    margin-right: 10px;
}

#dateoffinancenote{
    background-color: dimgray;
    border-radius: 90px;
    padding: 10px 15px;
    color: whitesmoke;
    position: absolute;
    top: 10;
    right: 10;
    font-size: 1rem;
    color:#ffde91;
}
/* THIS STYLE FOR PROFILE SECTION */
.profilesection{
    height: 90%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profilepic{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 20px 10px 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
.profilename{
    font-size: 2rem;
    margin: 5px;
}
.profileemail{
    font-size: 1rem;
    margin: 5px;
    background-color: beige;
    padding: 12px;
    border-radius: 90px;
}

/* STYLE FOR LOGIN FORM */

#loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 400px;
    /* background-color: yellow; */
}

.loginwelcome{
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    padding-right: 100px;
    border-right: 1px rgba(139, 69, 19, 0.477) solid;
}
.logincontainer{
    width: 100%;
    display: flex;
    background-color: ;
    justify-content: space-around;
    align-items: center;
}

#signupbtn{
    padding: 10px;
    background-color:#ffa15c;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
}

#loginbtn {
    background-color: #8e62ac;
    padding: 10px;
  
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    font-family: "Quicksand", sans-serif;
}
#loginbtn input {
    color: white;
}

.active{
    background-color: #ffde91;
    cursor: pointer;
    outline: 1px solid black;
}

/* STYLE FOR DASHBOARD */
.dashboard{
    padding-top: 50px;
    /* padding:  100px; */
    /* background-color: #62EEA8; */
    display: flex;
    /* height: 600px; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: hotpink; */

}

#welcomemsg{
    font-size: 2rem;
    margin-top: 20px;
    text-align: center;


}
.blocks{
    display: flex;
  
    align-items: center;
    width: 200px;
    height: 150px;
    flex-wrap: wrap;
    border-radius: 15px;
    padding-left: 20px;
    margin: 20px;
    transition: all 0.3s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    /* box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}


#blocklinks{
    text-decoration: none;
    color: black;
    font-weight: 900;
}
.blocks h3{
    font-size: 4rem;
}
.blocks p{
    margin-top: 10px;
    font-size:1.7rem;
}
.blocks:hover{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: translateY(-10px);
}


.taskblock{
    background-color: #4286f45e;
}
.taskblock h3,.taskblock p  {
    color: #4285f4;
}


.healthblock{
    /* background-color: #fda099; */
    background-color: #ea44356d;
   
}
.healthblock h3, .healthblock p {
    color: #ea4335
}
.healthblock:hover{
    outline:3px solid #ea4335;
}

.financeblock{
    background-color: rgba(160, 253, 160, 0.5);
}
.financeblock h3, .financeblock p {
    color: #34a853
}
.financeblock:hover{
    outline : 3px solid #34a853;
}


.journalblock{
    background-color: #ffda94fc;
}
.journalblock h3,.journalblock p  {
    color: #ffa700;;
}
.journalblock:hover{
    outline: 3px solid #ffa700;
}



.dashboardblock{
    background-color: #a9a9a9;
}

.dashboardblock h3,.dashboardblock p  {
    color: #000000;
}
.dashboardblock:hover{
    outline: 3px solid #000000;
}


.profileblock{
    background-color: #5d167565;
}
.profileblock h3,.profileblock p  {
    color: #5E1675;
}
.profileblock:hover{
    outline: 3px solid #5E1675;
}

#deletebuttons{

    background-color: crimson;
    color: aliceblue;
    /* transform: translate(-40px, 0px);; */
    height: 30px;
    width: 30px;
    border-radius: 50%;
    outline: none;
    border: 1px solid white;
}

#deletebuttons a{
    color: white;
}

.admindataholder{

    /* display: block;
    margin: auto 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: #5E1675; */
    background-color: cornsilk;
    font-family: "Lexend", sans-serif;


}

.admindata{
    position: relative;
    width: 800px;
    padding: 10px 20px;
    display: flex;
    justify-content:flex-start;
    float: left;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: #FDE49E;
   
}

#admindeletebtn{
    
    background-color: crimson;
    padding: 10px 30px;
    width: 100px;
    position: absolute;
    bottom: 10;
    right: 10;
 
    /* margin-left: 200px; */
}
#admindeletebtn a{
    text-decoration: none;
    color: white;
}

#adminlogoutbtn{
        position: fixed;
      bottom: 0;
      width: 100px;
      right: 0;
      margin: 30px;
    background-color: crimson;
    border-radius: 0px ;
    color: aliceblue;
    /* margin-left: 200px; */
}

.adminbody{
    position: relative;
}

/* FOOTER STYLE */

.footer {
    font-family: "Lexend", sans-serif;
    height: 200px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-top: 5px dashed #2d323376;
}

.footer-logo h1 {
    font-size: 24px;
    margin: 0;
}

.footer-logo a {
    text-decoration: none;
    color: #333;
}

.footer-links ul {
    list-style-type: none;
    margin-top: 50px;
    padding: 0;
  
}

.footer-links ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #333;
}

.footer-links ul li a:hover {
    color: #666;
}